<!DOCTYPE html>
<html>
<head>
<title>jcorderop</title>
    <style>
        div#object-wrapper {
            width: 800px;
            margin: 0 auto;
            border: 0;
        }

        div#link-wrapper object {
            height: 100%;
            width: 800px;
            position: absolute;
            border: 0;
        }
    </style>
</head>
<body>
    <div id="object-wrapper">
        <h1>Pricing Rest-API</h1>
<hr />
<h2>Project Scope</h2>
<ul>
<li>Gather knowledge and document the steps needed to create a Python <strong>Pricing Rest-API</strong> using <strong>Quantlib</strong> as engine calculation.</li>
<li>Configure <strong>FastAPI</strong> with <strong>Swagger</strong> to simplify the testing of the Rest End-Points and to create the Rest Document.</li>
<li>How to use <strong>Azure</strong> as a service infrastructure.
<ul>
<li>Deploy locally into <strong>Docker</strong> and pushing images into <strong>Azure Container Registry</strong>.</li>
<li>Integrate with <strong>Azure Active Directory</strong> and register application for Authentication. e.g:
<ul>
<li>Back-End API.</li>
<li>FastAPI to authenticate.</li>
<li>Client that authenticate and can request via rest to the Back-End.</li>
</ul>
</li>
<li>Deployment into <strong>Azure App Service</strong>.</li>
</ul>
</li>
<li>CI/CD autonomization using <strong>GitHub Actions</strong>.</li>
</ul>
<hr />
<h2>Project Links:</h2>
<ul>
<li>Project Set-up: &lt;/main/help/ENV_SETUP_README.md&gt;</li>
<li>Home Page: <a href="http://localhost:8000/">http://localhost:8000/</a></li>
<li>API Swagger: <a href="http://localhost:8000/docs">http://localhost:8000/docs</a></li>
<li>API Specification: <a href="http://localhost:8000/redoc">http://localhost:8000/redoc</a></li>
</ul>
<hr />
<h2><a href="https://www.quantlib.org/">Quantlib</a></h2>
<p>QuantLib is an open-source software library which provides tools for software developers and practitioners interested in financial instrument valuation and related subjects.<br />
It is written in C++. It is a free/open-source library for modeling, trading, and risk management in real-life and it offers tools that are useful both for practical implementation and for advanced modeling.</p>
<ul>
<li>Other Example:
<ul>
<li><a href="https://github.com/lballabio/QuantLib-SWIG/tree/master/Python/examples">https://github.com/lballabio/QuantLib-SWIG/tree/master/Python/examples</a></li>
<li><a href="http://gouthamanbalaraman.com/blog/quantlib-python-tutorials-with-examples.html">http://gouthamanbalaraman.com/blog/quantlib-python-tutorials-with-examples.html</a></li>
</ul>
</li>
</ul>
<hr />
<h2><a href="https://fastapi.tiangolo.com/">FastAPI</a></h2>
<p>FastAPI is a modern, fast (high-performance), web framework for building APIs with Python 3.7+ based on standard Python type hints.</p>
<p>FastAPI simplifies the use of Swagger, it is a powerful easy-to-use suite of API developer tools for teams and individuals, enabling development across the entire API lifecycle, from design and documentation.</p>
<p>Below you can find the references and steps to register an application in Azure.<br />
How to use fastapi-azure-s and configure a Python application with security.</p>
<ul>
<li>How-to set-up FastApi with security: <a href="https://intility.github.io/fastapi-azure-auth/">https://intility.github.io/fastapi-azure-auth/</a></li>
<li>How-to configure a client: <a href="https://intility.github.io/fastapi-azure-auth/usage-and-faq/calling_your_apis_from_python">https://intility.github.io/fastapi-azure-auth/usage-and-faq/calling_your_apis_from_python</a></li>
<li>How-to personalize rest-api document: <a href="https://fastapi.tiangolo.com/tutorial/metadata/">https://fastapi.tiangolo.com/tutorial/metadata/</a></li>
</ul>

    </div>
</body>
</html>